.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Production application.yml ###
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/secrets/monitoring.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/module.secrets/.env

# Ignore Gradle build output directory
build
src/main/generated
application-dev.yml
application-prod.yml
/logs/error/**
/logs/info/**
/logs/warn/**
/.env.redis
/docs/index.html
/data/**

.secrets
/http/http-client.env.json
.omc/
/.env
